.i {
  display: block;
  position: relative;
  width: 100%;
}

.block {
  display: block;
}

.btn {
  height: 100px;
  font-size: 35px;
  text-decoration: none;
  background-color: rgba(247, 245, 245, 0);
  color: rgba(255, 255, 255, 0);
}

.b01 {
  margin-left: 0%;
}

.b02 {
  margin-left: 9%;
}

.b03 {
  margin-left: 8%;
}

.b04 {
  margin-left: 8%;
}
.b05 {
  color: rgba(0, 0, 0, 0);
  height: 50%;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin-top: 50%;
  margin-bottom: 30%;
}

.fixo {
  position: fixed;
  height: 90px;
  bottom: 0;
  right: 0;
  left: 0;
}
